@model List<Cars>

<div>
    <h1 class="display-4">Welcome</h1>

    <div class="row home-product-list">
        @foreach (var i in Model)
        {
            <div class="col-12 mb-4">
                <partial name="_CarHomeCardPartial" model="@i" />
            </div>
        }
    </div>
</div>
